---
import logo from "@assets/img/logo/logo.webp";
import { Image } from "astro:assets";
---

<footer class="footer-area footer-bg pt-95">
  <div class="container">
    <div class="row">
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6">
        <div class="footer-widget footer-2 footer-btm-mobile ml-30">
          <h3 class="footer-widget__title mb-25">Quick Links</h3>
          <ul class="footer-widget_menu-link">
            <li><a href="/professional-year-program">Professional Year Program</a></li>
            <li><a href="/visa-documentation-guidance">Visa Documentation Guidance</a></li>
            <li><a href="/schalorship-assistance">Scholarship Assistance</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
        <div class="footer-widget footer-4 footer-btm-mobile ml-40">
          <h3 class="footer-widget__title mb-25">Helpful Links</h3>
          <ul class="footer-widget_menu-link-info">
            <li><a href="/branches">Study Abroad</a></li>
            <li><a href="/branches">Our Associations</a></li>
            <li><a href="/branches">Mission & Vision</a></li>
            <li><a href="/branches">Code of Conduct</a></li>
            <li><a href="/branches">enquiry page</a></li>
  

          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
        <div class="footer-widget footer-3 footer-btm-mobile ml-50">
          <h3 class="footer-widget__title mb-25">Branches</h3>
          <ul class="footer-widget_menu-link">
            <li><a href="/branches">Australia Branch</a></li>
            <li><a href="/branches">Delhi Branch</a></li>
            <li><a href="/branches">Kathmandu Branch</a></li>
            <li><a href="/branches">Butwal Branch</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="faqfrm__visa custom">
          <!-- <div class="sidebar-title mb-40">
            <h3>Ask Us Custom</h3>
          </div> -->
          <h3 class="footer-widget__title mb-25">Get in Touch </h3>

          <div class="faqfrm__visa-form">
            <form action="#">
              <input type="text" placeholder="Name*" />
              <input type="email" placeholder="Email*" />
              <input type="email" placeholder="Phone*" />
              <button class="theme-btn">Submit Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-area">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4"> -->
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="row copyright-botom-padding align-items-center">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 text-center">
                <div class="copyright-botom">
                  <p>
                    <!-- Copyright ©2024 <a href="#"> <span>A One Global</span></a>. All Rights Reserved -->
                  </p>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="copyright-botom-right">
                  <ul>
                    <!-- <li><a href="#">Privacy Policy</a></li> -->
                    <!-- <li><a href="#">Terms & Condition</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- Footer Copy right start -->

  <!-- Footer end -->
</footer>
